@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
/*
    COLOR PALETTE
    #5E4D47
    #E38566
    #DEB4A6
    #5E372A
    #AB8B80
    accent color is #E38566
    background color is #5E4D47
    for when you want something a little brighter use #AB8B80
    for when you want to highlight something use #DEB4A6
    ill figure out for what you can use #5E372A
*/

html {
    font-family: 'Oxygen', san-serif;
}

body {
    background-color: #5E4D47;
}

.wrapper {
    margin: 2vw 2vw;
}

h1 {
    font-family: inherit;
    color: white;
}

.name {
    border-left: solid 2px #E38566;
    font-size: 300%;
    padding: 1rem;
}

div {
    padding: 1rem;
}

.highlightedDivShowcase {
    background-color: #5E372A;
    border-radius: 10px;
}

nav {
    margin: 2vw 2vw;
    
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 150%;
    margin: 0.5rem 1rem;
}